:root {
    --background-color: rgb(43, 44, 46);
    --header-background: #1a1a1d;
    --header-text: #cfd1d8;
}

html, body {
    margin: 0;
    padding: 0;

    background-color: var(--background-color);
}